Lection_1\[СКАЧАТЬ ПРЕЗЕНТАЦИЮ.  Знакомство с языком программирования С#].pdf

Lection_1\Конспект с таймкодами. Знакомство с языком программирования С#.pdf

Lection_1\Task_1.Hello,World\bin\Debug\net6.0

Lection_1\Task_1.Hello,World\obj

Lection_1\Task_1.Hello,World\Task_1.Hello,World.csproj